_site
.sass-cache
.jekyll-metadata
.*~
/_includes/function_genre_text~
/_includes/pages_list~
/_includes/pieces_list~
/_layouts/default.html~
/_layouts/piece.html~
/_pieces/#chaotic_substrate.md#
/_pieces/chaotic_substrate.md~
/_pieces/fijeo_wange.md~
/_pieces/fragment_closure.md~
/_pieces/particular_rotations.md~
/_pieces/tack_locality.md~
/_pieces/test.md~
/_pieces/three_languages.md~
/chaotic_substrate.md~
/assets/css/style.scss~
/music.md~
